/* ==========================================================================
   BASE
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

img{
    width: 100%;
}

/*==============================================================================
Header
=============================================================================== */
.pg-header{
    padding:0;
}
.pg-logo-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pg-header-container{
    display: flex;
    padding:0;
}
/* .pg-menu-icon{
    width:40px;
    height:40px;
} */

.metrolics{
    color: rgb(30, 175, 222);
}

.nav-list, .nav-container{
    padding:0;
    margin:0;  
    position:relative;

}

.nav-item-container{
    position: absolute;
}

.nav-item{
    width:6.25rem;
    height:6.25rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-bg{
    border-radius: 50%;
    background-color: rgb(255,255,255);
    opacity: 0.2;
    position:absolute;
    top:0rem;
    right:0.5rem;
}
.nav-title-container{
    position:relative;
    top:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:0 0.8rem 0 0.8rem;
    border: none;
}
.nav-title{
    color: rgb(255,255,255);
}

.home{
    background-color: rgb(37,195,137) ;
}

.pages{
    background-color: rgb(254,185,1) ;
}

.blog{
    background-color:rgb(222,98,98);
}

.portfolio{
    background-color: rgb(22,145,189);
}

.home-blue{
    background-color: rgb(22,107,162);
}

.fa-home, .fa-sitemap, .fa-bullhorn, .fa-briefcase , .fa-envelope{
    color: rgb(255,255,255);
    position:relative;
    bottom:0.7rem;
    left:0.1rem;
}
.fa-angle-right{
    color: rgb(255,255,255);}


/*==============================================================================
Carousel
=============================================================================== */
.pg-carousel{
    background-color: rgb(235,235,235);
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    padding:0;
}

.pg-carousel-container{
    width:50%;
    height: 100%;
    padding: 0;
    position:absolute;
}

.banner-menu{
    font-family: Ubuntu, sans-serif;
    position: absolute;
    left:28%;
}
.banner-menu-blue{
    background-color: rgb(238,244,251);
    width:7.5rem;
    border-left: 5px solid rgb(24,106,162);
    margin:1px;
    padding:5px 15px 5px 10px;
}

.banner-menu-red{
    background-color: rgb(238,244,251);
    width:8rem;
    margin:1px;
    padding:5px 15px 5px 10px;
    border-left: 5px solid rgb(231,97,94);
}

.banner-menu-yellow{
    background-color: rgb(238,244,251);
    width:11rem;
    margin:1px;
    padding:5px 15px 5px 10px;
    border-left: 5px solid rgb(254,185,2);
}

.fa-chevron-circle-right{
    color: rgb(255,255,255);
    position: absolute;
    top:45%;
    left:95%;
}

.fa-chevron-circle-left{
    color: rgb(255,255,255);
    position: absolute;
    top:45%;
    right:95%;
}
/*==============================================================================
Service Section
=============================================================================== */
.title {
    font-size: 16pt;
}

.subtitle{
    color: rgb(163, 163, 163);
    font-size: 10pt;
}

.service-item{
    display: flex;
    padding:0.6rem;
}

.service-icon{
    width:50px;
    height:50px;
}

.service-details{
    display: column;
    align-items: left;
    padding:0;
    margin-left:10px;
}
.service-title{
    font-size:12px;
    font-weight:bold;
    margin-bottom:5px;
    text-align: left;
}

.service-description{
    color: rgb(163, 163, 163);
    font-size:0.65rem;
    text-align: left;
    padding:0;
}

.service-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
}

.icon-yellow{
    border: 2px solid rgb(254,185,2);
}

.fa-lightbulb-o{
    color:rgb(254,185,2);
}

.icon-green{
    border: 2px solid rgb(37,195,137);
}

.fa-picture-o{
    color:rgb(37,195,137);
}

.icon-red{
    border: 2px solid rgb(231,97,94);
}

.fa-cogs{
    color: rgb(231,97,94);
}

.icon-blue{
    border: 2px solid rgb(24,106,162);
}

.fa-pencil{
    color: rgb(31,168,212);
}

/*==============================================================================
Latest updates Section
=============================================================================== */
.p-item{
    padding:0;
}

.description-bar {
    margin-top:-6px;
}
.date-container{
    width:65px;
    height: 50px;
    padding:8px;
    background-color: rgb(216,96,96);
    position:absolute;
}

.date{
    font-size: 10px;
    color:rgb(255,255,255);
    text-align: center;
    display: flex;
    justify-content: center;
}

.day{
    font-size: 15px;
}

.camera-icon-bg{
    background-color: rgb(21,150,189);
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Accordin menu section images **/
.inner-container {
    max-width: 70rem;
}

/* ==========================================================================
   Vanessa's Project Sections
   ========================================================================== */
   
.description-bar {
    background-color: #19b2de;
    color: #fff;
    display: flex;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    padding: 0;
    outline: none;
}

.text-content h5 {
    margin: 0;
    font-size: 14pt;
    font-weight: 400;
}

.text-content p {
    margin: 0;
    font-size: 11pt;
    font-weight: 200;
}

.file-icon {
    background-color: rgb(21,150,189);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==========================================================================
   Vanessa's Footer Sections
   ========================================================================== */
.footer-container {
    background-color: #16242f;
    position: relative;
    padding: 0;
}

/* about designer **/
.designer-intro {
    display: flex;
}

.left {
    display: flex;
    justify-content: center;
}

.designer-intro h6 {
    font-size: 12pt;
    color: #fff;
    text-align: left;
    margin-bottom: 0.8rem;
}

.designer-intro p {
    font-size: 9pt;
    font-style: italic;
    font-weight: 300;
    color: #fff;
}

.headshot {
    width: 11rem;
    height: 11rem;
    object-fit: fill;
    border-radius: 50%;
}
/* social media icons **/
.sm-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}


.sm-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fb {
    background-color: #527cc4;
}

.google {
    background-color: #e46145;
}

.twitter {
    background-color: #00b0e2;
}

.ins {
    background-color: #f6679c;
}

.rss {
    background-color: #fea501;
}
/* flicker photos **/
.fp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
}

.fp-grid img {
    width: 100%;
}

/* recent tweet **/
.footer-item h5{
    font-size: 12pt;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.footer-item p {
    color: #fff;
    font-size: 9pt;
}

.comment-inner-container {
    display: flex;
}

.comment-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5c666f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.fa-twitter {
    color: #fff;
}

.text-blue {
    color: #1bade6;
    font-weight: bold;
}

/* New letter **/
.email-input {
    border: none;
    background-color: #de6262;
    width: 15rem;
    height: 3rem;
    padding: 1rem;
}

.email-input::placeholder {
    color: #fff;
    font-size: 10pt;
}

.input-container {
    padding: 0;
    margin-top: 1rem;
    display: flex;
}

.input-container i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-paper-plane {
    width: 3rem;
    height: 3rem;
    background-color: #fea501;
    color: #fff;
}
/* New letter **/
.color-tag-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom:0;
}

.color-tag {
    width: 28rem;
}


.green-line {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #25c389;
    outline: none;
    margin-bottom: 1.5rem;
}

.yellow-line {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #ffb901;
    outline: none;
    margin-bottom: 1.5rem;
}

.orange-line {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #de6262;
    outline: none;
    margin-bottom: 1.5rem;
}

.blue-line {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #1691bd;
    outline: none;
    margin-bottom: 1.5rem;
}

.triangle {
    width: 0;
    height: 0;
}

.triangle-down {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #25c389;
}

/* ==========================================================================
   2. LAYOUT
   ========================================================================== */

div,
main,
section,
footer,
header {
    /* outline: 1px solid #ccc; */
    min-height: 1rem;
    padding: 1rem;
}

/* 2.1 Core layout */

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
}

.pg-header-container{
    display:flex;
    justify-content: center;
}

.nav-container{
    display:flex;
}

.nav-list, .banner-menu{
    list-style-type: none;
}

/* 2.2 Small only */

@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }

    .sm-icon {
        width: 4rem;
        height: 4rem;
    }

    .color-tag-container {
        display: flex;
        justify-content: center;
        padding-bottom:0;
    }
    
    .pg-logo-menu{
        width:20rem;
        padding-bottom:0;
    }

    .pg-logo{
        margin-right: 1rem;
    }

   .pg-description-container, .pg-description-content{
        padding-top:0;
    }

    .section-container, .service-container, .title-container{
        padding-top:0;
        padding-bottom:0;
    }
}

/* 2.3 medium and up */

@media screen and (min-width: 40em) {
    .row {
        max-width: 70rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }
    .grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }

    .pg-nav{
        width:45%;
    }

    .sm-icon-container {
        justify-content: left;
        padding: 0;
        margin-top: 1.5rem;
    }

    .sm-icon {
        width: 3rem;
        height: 3rem;
    }

    .headshot {
        width: 6rem;
        height: 6rem;
    }

    .color-tag {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-bottom: 0;
    }

    .title {
        font-size: 20pt;
    }

    .subtitle {
        font-size: 12pt;
    }

    .text-content h5 {
        font-size: 16pt;
    }

    .text-content p {
        font-size: 12pt;
    }

    .pg-logo{
        width:160px;
        height: 30px;
        position:absolute;
        top:3.5rem
    }
}


/* 2.4 Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .m-hide {
        display: none;
    }
}


/* 2.5 large screens and up 2.6 Large only */

@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    } 
    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .l-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .l-hide {
        display: none;
    }

    .color-tag {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-bottom: 0;
    }
}
